LdapExample/ldap_example/src/main/app/ldap_example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ldap="http://www.mulesoft.org/schema/mule/ldap" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ldap http://www.mulesoft.org/schema/mule/ldap/current/mule-ldap.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <ldap:config name="LDAP__Configuration" authDn="cn=Manager,dc=maxcrc,dc=com" authPassword="sarasu10" url="ldap://localhost:389" doc:name="LDAP: Configuration"/>
    <flow name="ldap_exampleFlowfor_Lookup1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/ldap" doc:name="HTTP"/>
        <ldap:lookup config-ref="LDAP__Configuration" dn="cn=user2,ou=eidiko,dc=maxcrc,dc=com" structuralObjectClass="inetOrgPerson" doc:name="LDAP"/>
        <logger message="#[payload.sn]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="ldap_exampleFlowforDeletingSingleValueAttribute2">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/6" doc:name="HTTP"/>
        <ldap:delete-single-value-attribute config-ref="LDAP__Configuration" dn="cn=user1,ou=people,dc=maxcrc,dc=com" attributeName="carLicense"  ignoreInvalidAttribute="true" doc:name="LDAP"/>
        <logger message="Deleted successfully" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="ldap_exampleFlowfor_Exists3">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/exists" doc:name="HTTP"/>
        <ldap:exists config-ref="LDAP__Configuration" dn="cn=reddy,ou=people,dc=maxcrc,dc=com" doc:name="LDAP"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="ldap_exampleFlowforBind4">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/3" doc:name="HTTP"/>
        <ldap:bind config-ref="LDAP__Configuration" authPassword="sarasu10" authDn="cn=naveen,ou=people,dc=maxcrc,dc=com" doc:name="LDAP" />
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="ldap_exampleFlowfor_RenameTheEntry5">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/4" doc:name="HTTP"/>
        <ldap:rename config-ref="LDAP__Configuration" oldDn="cn=Panji Pratomo,ou=people,dc=maxcrc,dc=com" newDn="cn=Panji,ou=people,dc=maxcrc,dc=com" doc:name="LDAP"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="ldap_exampleFlowforDeleteEntry6">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/5" doc:name="HTTP"/>
        <ldap:delete config-ref="LDAP__Configuration" dn="cn=reddy,ou=people,dc=maxcrc,dc=com" doc:name="LDAP"/>
        <logger message="Deleted successfully" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="ldap_exampleFlowforDeletingMultiValueAttribute7">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/7" doc:name="HTTP"/>
        <ldap:delete-multi-value-attribute config-ref="LDAP__Configuration" dn="cn=naveen,ou=people,dc=maxcrc,dc=com" attributeName="homePhone" doc:name="LDAP"/>
        <logger message="Deleted Multi value Attributes" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="ldap_exampleFlowforAddingtheentry8">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/8" doc:name="HTTP"/>
        <set-variable variableName="dn" value="ou=eidiko,#[message.inboundProperties.'http.query.params'.dn]" doc:name="Variable"/>
        <scripting:component doc:name="Groovy">
            <scripting:script engine="Groovy"><![CDATA[import org.mule.module.ldap.api.LDAPEntry;

LDAPEntry entryToAdd = new LDAPEntry("cn=Test User5,"+ flowVars.dn);
entryToAdd.addAttribute("uid", "testUser");
entryToAdd.addAttribute("cn", "Test User");
entryToAdd.addAttribute("sn", "User");
entryToAdd.addAttribute("userPassword", "sarasu10");
entryToAdd.addAttribute("objectclass", ["top", "person", "organizationalPerson", "inetOrgPerson"]);

return entryToAdd]]></scripting:script>
        </scripting:component>
        <ldap:add config-ref="LDAP__Configuration" structuralObjectClass="inetOrgPerson" doc:name="LDAP"/>
        <logger message="users has been added" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="ldap_exampleFlowforSearching">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/10" doc:name="HTTP"/>
        <ldap:paged-result-search config-ref="LDAP__Configuration" baseDn="dc=maxcrc,dc=com" filter="cn=user2" scope="SUB_TREE" structuralObjectClass="inetOrgPerson" doc:name="LDAP"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
